@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Ensure full height for body and html */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Ensure the root div (React app container) takes full height */
  #root {
    height: 100%;
  }